<% 
  const { menubar } = require('../menubar.js')
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Primary Meta Tags -->
    <title>Skincore — уход за кожей вокруг глаз</title>
    <meta name="title" content="Skincore — уход за кожей вокруг глаз" />
    <meta name="description" content="Делимся полезными методами ухода за нежной кожей вокруг глаз"/>

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="undereye.html" />
    <meta property="og:title" content="Skincore — уход за кожей вокруг глаз"/>
    <meta property="og:description" content="Делимся полезными методами ухода за нежной кожей вокруг глаз"/>

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="undereye.html"/>
    <meta property="twitter:title" content="Skincore — уход за кожей вокруг глаз"/>
    <meta property="twitter:description" content="Делимся полезными методами ухода за нежной кожей вокруг глаз"/>

    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <analytics></analytics>
</head>
<body class="article">
    <div class="S_ArticleHeader">
        <div class="S_Header"><%=menubar %></div>

        <div class="O_Header MenuMobile ExistMobile">
            <div class="Content">
                <div class ="FlexMenu">
                    <div class="Q_Logo"></div>
                    <div class="Q_Burger BurgerMobile"></div>
                </div>
                <search class = "M_Search NoneDefault">
                    <input class = "SearchInput SearchInputDefault SearchInputActive" type="search" placeholder="поиск">
                    <button class = "Q_Search SearchActive"></button>
                </search>
                <div class="M_Header NoneDefault">
                    <a href = "../dictionary.html">Словарь</a>
                    <a href = "../article.html">Статьи</a>
                    <a href = "../checklist.html">Чек-листы</a>
                    <a href = "../activity.html">Проверь себя</a> 
                </div>
            </div>
            <div class="A_FooterSocialMedia NoneDefault">
                <a href="https://t.me/skincore_media" class="Q_Tg"></a>
                <a href="https://vk.com/skincore_media?from=search" class="Q_Vk"></a>
                <a href="https://dzen.ru/id/65f2eaff8d785e6622c998cf" class="Q_Dzen"></a>
            </div>
        </div>
        <div class="O_ArticleGridSection">
            <img class="Q_1Circle CB2_8_1" src="<%=require('/src/images/articles/article_undereye2.webp')%>" alt="">
            <img class="Q_1Circle CB2_4_2" src="<%=require('/src/images/articles/article_undereye1.webp')%>" alt="">
            <div class="A_ArticleTitle ATP_7_1 A1T1">УХОД</div>
            <div class="A_ArticleTitle ATP_7_2 A2T2">ЗА КОЖЕЙ</div>
            <div class="A_ArticleTitle ATP_7_3 A10T3">ВОКРУГ ГЛАЗ</div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle"></div>
            <div class="Q_1Circle Empty"></div>
            <div class="Q_1Circle Mobile"></div>
            <div class="Q_1Circle Empty Mobile"></div>
        </div>
    </div>
    <div class="S_ArticleContent">
        <div class="O_ArticleTags">
            <div class="A_ArticleBodyText">15 марта 2024</div>
            <div class="M_TagsArticle">
                <div class="A_Tag TagBlue">советы</div>
                <div class="A_Tag TagBlue">уход</div>
            </div>
        </div>
        <div class="C_ArticleText">
            <div class="A_ArticleBodyText Bold">Уход за кожей вокруг глаз является важной частью регулярного ухода за кожей, особенно когда речь идет о борьбе с морщинами и отечностью. Вот несколько лучших продуктов и методов для эффективного ухода за этой нежной областью.</div>
            <div class="A_ArticleH3">Кремы и сыворотки с ретинолом</div>
            <div class="A_ArticleBodyText">Кремы и сыворотки с ретинолом являются популярными продуктами для ухода за кожей, особенно в борьбе с морщинами и другими признаками старения. Ретинол, или витамин A, является мощным антиоксидантом, который способствует улучшению текстуры кожи, уменьшению морщин, стимулирует производство коллагена и ускоряет обновление клеток кожи.</div>
            <div class="A_ArticleH3">Кремы с пептидами</div>
            <div class="A_ArticleBodyText">Пептиды представляют собой короткие цепочки аминокислот, которые являются строительными блоками белков. В косметике пептиды используются для стимуляции процессов восстановления кожи, укрепления ее структуры и борьбы с признаками старения. Они могут иметь различные функции, включая увлажнение, осветление пигментации, уменьшение морщин и повышение упругости кожи.</div>
        </div>
        <div class="A_PhotoInRow">
            <img class="Q_2ImagesFirst" src="<%=require('/src/images/articles/article_undereye3.webp')%>" alt="">
            <img class="Q_2ImagesSecond" src="<%=require('/src/images/articles/article_undereye4.webp')%>" alt="">
        </div>
        <div class="C_ArticleText">
            <div class="A_ArticleH3">Гелевые маски и патчи</div>
            <div class="A_ArticleBodyText">Гелевые маски — это косметические средства, которые содержат гелевую основу. Эти маски обычно используются для увлажнения и освежения кожи. Они обладают охлаждающим эффектом, что помогает снять воспаление и устранить отечность. Гелевые маски также способствуют улучшению циркуляции крови, что помогает уменьшить темные круги под глазами и улучшить тонус кожи.</div>
            <div class="A_ArticleBodyText">Эти маски обычно содержат увлажняющие и питательные компоненты, такие как гиалуроновая кислота, витамины, экстракты растений и другие активные ингредиенты, которые способствуют улучшению состояния кожи.</div>
            <div class="A_ArticleBodyText">Гелевые маски можно использовать как ежедневные уходовые средства или в качестве дополнительного ухода для особых случаев, например, перед важным событием или после тяжелого дня.</div>
        </div>
        <img class="Q_ImageTextWidth" src="<%=require('/src/images/articles/article_undereye5.webp')%>" alt="">
        <div class="C_ArticleText">
            <div class="A_ArticleH3">Массаж лица</div>
            <div class="A_ArticleBodyText">Массаж лица может помочь снять отечность в области глаз и улучшить циркуляцию крови, что способствует уменьшению темных кругов и отечности. Вот несколько шагов для массажа лица, направленного на снятие отечности у глаз:</div>
            <div class="A_ArticleBodyText">Шаг 1: Нанесите на область вокруг глаз легкий увлажняющий крем или гель для массажа. Это поможет уменьшить трение и предотвратить растяжение кожи.</div>
            <div class="A_ArticleBodyText">Шаг 2: Используйте указательные пальцы, начните мягко массировать область под внешним уголком глаза, двигаясь по направлению к внутреннему уголку глаза. Это поможет стимулировать лимфодренаж и улучшить отток жидкости.</div>
            <div class="A_ArticleBodyText">Шаг 3: После этого перейдите к массажу верхнего века. Начните мягко массировать верхний век от внешнего уголка глаза к внутреннему уголку глаза.</div>
            <div class="A_ArticleBodyText">Шаг 4: Завершите массаж, делая круговые движения по области под бровями.</div>
        </div>
    </div>
    <div class="O_ArticleHighlight">
        <div class="HighlightImage"></div>
        <div class="M_ArticleHighlight">
            <div class="A_ArticleH3">Важно!</div>
            <div class="A_ArticleH3">Массаж должен быть мягким и нежным, чтобы не повредить нежную кожу вокруг глаз.</div>
        </div>
    </div>
    <div class="S_ArticleContent">
        <div class="C_ArticleText">
            <div class="A_ArticleH3">Защита от солнца</div>
            <div class="A_ArticleBodyText">Защита от солнца играет важную роль в уходе за кожей вокруг глаз, так как эта область особенно уязвима для ультрафиолетовых лучей. Вот несколько рекомендаций по защите от солнца и уходу за кожей вокруг глаз:</div>
            <div class="A_ArticleBodyText">1. Используйте солнцезащитные очки: Подберите солнцезащитные очки с ультрафиолетовой защитой, чтобы защитить глаза и кожу вокруг них от вредных лучей.</div>
            <div class="A_ArticleBodyText">2. Наносите солнцезащитный крем: Используйте солнцезащитный крем или бальзам с SPF 30 или выше вокруг глаз, особенно если вы планируете находиться на солнце. Помните, что крем должен быть безопасным для использования в области глаз.</div>
            <div class="A_ArticleH3">Правильное питание и хорошее увлажнение</div>
            <div class="A_ArticleBodyText">Сбалансированное питание, обильное употребление воды и использование увлажняющих средств также играют важную роль в поддержании здоровья кожи вокруг глаз.</div>
        </div>
        <div class="A_PhotoInRow">
            <img class="Q_2ImagesFirst" src="<%=require('/src/images/articles/article_undereye7.webp')%>" alt="">
            <img class="Q_2ImagesSecond" src="<%=require('/src/images/articles/article_undereye6.webp')%>" alt="">
        </div>
    </div>
    <div class="S_Recommendations">
        <div class="A_ArticleH2">Смотрите также</div>
        <div class="C_ArticleCards">
            <a href="./winterskincare.html" class="O_ArticleCard1">
                <img class="ArticleCardImage" src="<%=require('/src/images/articles/article_recommend_winterskincare.webp')%>" alt="">
                <div class="M_ArticleCard1">
                    <div class="A_ArticleCardH4">Уход за кожей зимой</div>
                    <div class="M_TagsArticle">
                        <div class="A_Tag TagBlue">сезоны</div>
                        <div class="A_Tag TagBlue">уход</div>
                        <div class="A_Tag TagBlue">советы</div>
                    </div>
                </div>
            </a>
            <a href="./haleybieber.html" class="O_ArticleCard1">
                <img class="ArticleCardImage" src="<%=require('/src/images/articles/article_recommend_haley.webp')%>" alt="">
                <div class="M_ArticleCard1">
                    <div class="A_ArticleCardH4">6 секретов ухода Хейли Бибер</div>
                    <div class="M_TagsArticle">
                        <div class="A_Tag TagBlue">селебрити</div>
                        <div class="A_Tag TagBlue">советы</div>
                    </div>
                </div>
            </a>
            <a href="./airpollution.html" class="O_ArticleCard1">
                <img class="ArticleCardImage" src="<%=require('/src/images/articles/article_recommend_pollution.webp')%>" alt="">
                <div class="M_ArticleCard1">
                    <div class="A_ArticleCardH4">Влияние экологии на кожу</div>
                    <div class="M_TagsArticle">
                        <div class="A_Tag TagBlue">уход</div>
                        <div class="A_Tag TagBlue">питание</div>
                    </div>
                </div>
            </a>
            <a href="./spf.html" class="O_ArticleCard1 PortraitNone">
                <img class="ArticleCardImage" src="<%=require('/src/images/articles/article_recommend_SPF.webp')%>" alt="">
                <div class="M_ArticleCard1">
                    <div class="A_ArticleCardH4">Как подобрать SPF крем</div>
                    <div class="M_TagsArticle">
                        <div class="A_Tag TagBlue">сезоны</div>
                        <div class="A_Tag TagBlue">советы</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="O_Footer">
        <div class="FooterMenuContainer">
            <div class="M_FooterDescription">
                <div class="Q_Logo"></div>
                <p>Инфосистема об уходе за кожей</p>
                <div class="A_FooterSocialMedia">
                    <a href="https://t.me/skincore_media" class="Q_Tg"></a>
                    <a href="https://vk.com/skincore_media?from=search" class="Q_Vk"></a>
                    <a href="https://dzen.ru/id/65f2eaff8d785e6622c998cf" class="Q_Dzen"></a>
                </div>
            </div>
            <div class="M_FooterMenu">
                <a href = "../index.html">Главная</a>
                <a href = "../about.html">О нас</a>
                <div class="">
                    <a href = "../article.html">Статьи</a>
                    <a href = "../checklist.html">Чек-листы</a>
                    <a href = "../dictionary.html">Словарик</a>
                    <a href = "../activities.html">Проверь себя</a>
                </div>
            </div>
        </div>
        <div class="M_FooterNames">
            <div class="A_ArticleBodyText">Полина Ефимова</div>
            <div class="A_ArticleBodyText">Дария Муракаева</div>
            <div class="A_ArticleBodyText">Анна Комкова</div>
            <div class="A_ArticleBodyText">Софья Каем</div>
        </div>
    </div>
</body>
</html>